{% load bootstrap3 %}
<div id="form-display" class="container-fluid" style="height:100%">
    <h1 style="font-size: 5vw;">🐧 Productivity</h1>

    <div class="row row-center">
        <div class="col-md-4 col-center">
            <form method="post">
                {% csrf_token %}

                <script type="application/javascript">
                    function set_emoji(emoji_id){
                        var field = document.getElementById('id_emoji');
                        field.value = emoji_id;
                    }

                    function set_state(state_code){
                        var field = document.getElementById('id_state');
                        field.value = state_code;
                    }
                </script>

                <div class="row">
                    {% bootstrap_field form.task_text show_label=False %}
                </div>

                <div class="row">
                    {% buttons %}
                        <label class="btn btn-default" onclick="set_state(0);">
                            <input type="radio" name="state" id="0"> New
                        </label>
                        <label class="btn btn-default" onclick="set_state(1);">
                            <input type="radio" name="state" id="1"> Ongoing
                        </label>
                        <label class="btn btn-default" onclick="set_state(2);">
                            <input type="radio" name="state" id="2"> Done
                        </label>
                    {% endbuttons %}
                </div>

                <div class="row row-center">
                    <div class="col-md-5 col-center">
                        {% bootstrap_field form.quantifier show_label=False %}
                    </div>
                    <div class="col-md-5 col-center">
                        {% bootstrap_field form.unit show_label=False %}
                    </div>
                </div>

                <br>

                {% bootstrap_form form exclude='task_text,quantifier,unit' %}

                <div class="row row-center">
                    {% for emoji in emoji_options %}
                        <div class="col-md-3 col-sm-4 col-center">
                            <div class="btn btn-default btn-block emoji" onclick="set_emoji({{ emoji.id }});">
                                {{emoji.emoji_code}}
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row row-center">
                        {% endif %}
                    {% endfor %}
                </div>

                <br>

                {% buttons %}
                    <button type="submit" class="btn btn-primary btn-block">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div class="next-screen-link">
        <a href="#morning-overview"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>
</div>
