{% load bootstrap3 %}
{{ form.media }}

<div class="container">
    <h1>🐧</h1>
    <form action="." method="post">
        {% csrf_token %}
        <div class="row">
            {% bootstrap_field form.task_text show_label=False %}
        </div>

        <div class="row">
            {% buttons %}
                <div class="col-md-4">
                    <button class="btn btn-default btn-block">
                        New
                    </button>
                </div>

                <div class="col-md-4">
                    <button class="btn btn-default btn-block">
                        Ongoing
                    </button>
                </div>

                <div class="col-md-4">
                    <button class="btn btn-default btn-block">
                        Done
                    </button>
                </div>
            {% endbuttons %}
        </div>

        <div class="row">
            <div class="input-group">
                {% bootstrap_field form.quantifier show_label=False %}
                <div class="input-group-btn" style="width: 20%;">
                    {% bootstrap_field form.unit show_label=False %}
                </div>
            </div>
        </div>

        {% bootstrap_form form exclude='task_text,quantifier,unit' %}
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">
                Submit
            </button>
        {% endbuttons %}
    </form>
</div>
