{% load bootstrap3 %}
{% load staticfiles %}

<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static "backgrounds.css" %}">
        <link rel="stylesheet" href="{% static "penguin.css" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>🐧</title>
    </head>
    <body>
        {% include "core/form.html"%}
        {% include "core/overview.html" with time="morning"%}
        {% include "core/overview.html" with time="afternoon"%}
        {% include "core/overview.html" with time="night"%}
        {% include "core/details.html" with time="morning" group="happy"%}
        {% include "core/details.html" with time="morning" group="not_so_happy"%}
        {% include "core/details.html" with time="morning" group="working_thinking"%}
        {% include "core/details.html" with time="morning" group="fun"%}
        {% include "core/details.html" with time="afternoon" group="happy"%}
        {% include "core/details.html" with time="afternoon" group="not_so_happy"%}
        {% include "core/details.html" with time="afternoon" group="working_thinking"%}
        {% include "core/details.html" with time="afternoon" group="fun"%}
        {% include "core/details.html" with time="night" group="happy"%}
        {% include "core/details.html" with time="night" group="not_so_happy"%}
        {% include "core/details.html" with time="night" group="working_thinking"%}
        {% include "core/details.html" with time="night" group="fun"%}
    </body>
</html>
