{% load bootstrap3 %}
<div id="{{time}}-overview" class="container-fluid {{time}}" style="height:100%">
    <h1>Overview for {{time}}</h1>

    <div class="row row-center half-height">
        <a href="#{{ time }}-happy-details">
            <div class="col-md-4 col-center full-height">
                <h3 class="page-header">Happy</h3>
                <div class="row">
                    {% for task in time_context.happy %}
                        <div class="col-md-1 emoji">
                            {{ task.emoji.emoji_code }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </a>

        <div class="col-md-1 col-center"></div>

        <a href="#{{ time }}-not_so_happy-details">
            <div class="col-md-4 col-center full-height">
                <h3 class="page-header">Not So Happy</h3>
                <div class="row">
                    {% for task in time_context.not_so_happy %}
                        <div class="col-md-1 emoji">
                            {{ task.emoji.emoji_code }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </a>
    </div>

    <div class="row row-center half-height">
        <a href="#{{ time }}-working_thinking-details">
            <div class="col-md-4 col-center full-height">
                <h3 class="page-header">Thinking</h3>
                <div class="row">
                    {% for task in time_context.working_thinking %}
                        <div class="col-md-1 emoji">
                            {{ task.emoji.emoji_code }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </a>

        <div class="col-md-1 col-center"></div>

        <a href="#{{ time }}-fun-details">
            <div class="col-md-4 col-center full-height">
                <h3 class="page-header">Fun</h3>
                <div class="row">
                    {% for task in time_context.fun %}
                        <div class="col-md-1 emoji">
                            {{ task.emoji.emoji_code }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </a>
    </div>



    <div class="next-screen-link">
        {% if time == "morning" %}
            <a href="#afternoon-overview"><i class="glyphicon glyphicon-chevron-down"></i></a>
        {% endif %}
        {% if time == "afternoon" %}
            <a href="#night-overview"><i class="glyphicon glyphicon-chevron-down"></i></a>
        {% endif %}
    </div>
</div>
