.row-center {
    text-align: center;
}
.col-center {
    display: inline-block;
    float: none;
}
.emoji {
    font-size: 36pt;
    font-family: "Noto Color Emoji";
}
.emoji-font {
    font-family: "Noto Color Emoji";
}
.half-height {
    height: 50%;
}
.full-height {
    height: 100%;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 0px;
}

a {
	text-decoration: none;
	color: black;
}